.formHeader {
    text-transform: capitalize;
    color: var(--primary-blue);
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
    font-weight: 300;
}