* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #root {
    height: 100%;
  }
  
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  :root {
    --primary-blue: #285A94;
    --dark-blue: #123C6B;
    --light-blue: #86A3C5;
    --bg-gray: #F7F7F7;
    --shadow: #EAEBEB;
    --border: #DADADC;
    --error: #FFAEB0;
  }

  h1 {
    font-weight: 200;
  }
  
  body {
    height: 100vh;
    background-color: var(--bg-gray);
  }

  .container {
      width: 800px;
      margin: 0 auto;
  }